gaming
programming
*.log
caelestia-config/caelestia/repo-path.conf

Documents/*
Videos/*
Pictures/*

!Videos/Recordings/
!Pictures/Screenshots/
!Pictures/Wallpapers/

Videos/Recordings/*
Pictures/Screenshots/*

!**/.gitkeep
