# --- [ Generated Configs ] ---
dotfiles/.config/caelestia/repo-path.conf

# --- [ System / Logs ] ---
*.log
.cache/
.thumbnails/

# --- [ Asset Contents ] ---
# We track the folders via .gitkeep, but ignore the actual heavy files.
assets/Documents/*
assets/Videos/*
assets/Pictures/*
assets/tailscale-files/*

# Keep specific subfolders structure
!assets/Videos/Recordings/
!assets/Pictures/Screenshots/
!assets/Pictures/Wallpapers/

# Ignore contents of those subfolders
assets/Videos/Recordings/*
assets/Pictures/Screenshots/*
# assets/Pictures/Wallpapers/* # Optional: uncomment if you want to ignore wallpapers too

# --- [ Git Hygiene ] ---
!**/.gitkeep
.DS_Store
